@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5ff;
}
.wrapper {
  padding: 70px 0;
  overflow-x: hidden;
}

.my-slider {
  padding: 0 70px;
}

.Product__slider .slick-next,
.Product__slider .slick-prev {
  z-index: 5;
  width: 30px;
  height: 30px;
  top: auto;
  bottom: -60px;
}
.Product__slider .slick-next {
  right: 47%;
}
.Product__slider .slick-prev {
  left: 47%;
}
/* .slick-slide {
  transition: transform 0.5s ease; 
}
.slick-slide.slick-active.slick-current + .slick-slide.slick-active {
  transition: all ease-in-out 1s;
  transform: scale(1.1);
} */
.Product__slider .slick-prev::before,
.Product__slider .slick-next::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: #094aa4;
  display: block;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.Product__slider .slick-prev::before {
  background-image: url(../assets/icons/left-arrow.svg);
}
.Product__slider .slick-next::before {
  background-image: url(../assets/icons/right-arrow.svg);
}
